/*
	Hero Banner
	============
	This is the image that appears on content pages
*/
.hero-wrapper {
	background-color:#aaa;
	height: 500px;
	padding:80px 0 0 0;
	box-shadow:rgba(0,0,0,.6) 0px 2px 10px;
}

/*
	Hero Message
	------------
	Styles the textbox that's in the hero wrapper
*/
.hero-message {
	color: #fff;
	padding: 20px;
	margin-top:210px;
	background: rgba(0,0,0,.5);
}

.hero-message a {
	color: inherit;
}

.hero-message h1 {
	font-size: 50px;
	font-weight: normal;
	margin: 0;
	padding: 5px 0;
	border-bottom: 1px solid #fff;
}