@import 'animated.scss';
@import 'shadows.scss';
@import 'mock.scss';
@import 'structure.scss';
/* 

Events Pages
============
Describes the styles that will be used for the events listing page
and event view pages.	
*/

/*

Events List
-----------
Styles for the events listing

*/
.events-list-body {
	background:#ddd;
	color:#333;
}

/*

### Event Poster Container
A collection of Event Items

#### Event Item
A link to an event that is represented by
an image of a poster and text.

*/
.events-list-body .event-poster-container 
{
	h1 {
		color:#222;
		font-size: 50px;

		padding: 0;
		margin:0;
		letter-spacing: -2px;
	}
	h2 {
		color:#f00;
		font-size:30px;

		.term {
			color:#333;
		}
	}
} 

/*

Events View
-----------
Styles for viewing a single event

*/
.events-view-body {
	background:#fff;
	color:#333;
}

/*

### Event Poster Container
A collection of Event Items

#### Event Item
A link to an event that is represented by
an image of a poster and text.

*/

.events-view-body .event-view-container {
	@extend .content-container;

	.event-view-poster {
		position: relative;

		img {
			width:100%;
		}

		.event-info 
		{
			span, time {
				color:#fff;
				position: absolute;
				display: block;
				top:0;
				left:0;
			}

			@include mock-poster;
		}
	}	
}