@import 'shadows.scss';
@import 'animated.scss';

.hero-item 
	{
		display: block;
		background: #ddd;
		height: 305px;	
		float: left;	
		@include box-shadow(rgba(0,0,0,.7) 0px 2px 2px);
		position:relative;
		overflow:hidden;
	
		.hero-info 
		{
			background:rgba(0,0,0,.5);
			position: absolute;

			bottom:0;
			right:0;
			left:0;
			width:100%;
			height:20%;
			border-top:1px solid rgba(0,0,0,.4);
			@include box-shadow(rgba(0,0,0,.5) 0px 0px 20px inset);
			
			.title
			{
				color:#fff;

				display: block;
				padding:5% 0;
				font-size:20px;
				line-height:20px;
				font-weight:bold;

				text-transform:uppercase;
				text-align:center;
				text-shadow:rgba(0,0,0,.5) 0px 2px 0px;
			}


			.description:before {
				content: "Description:"
			}
			.data-item {
				display: none;
				font-size:12px;
				padding:10px;
				color:#fff;
				border-bottom: 1px rgba(255, 255, 255, .3) solid;
			}

			.data-item:before {
				font-weight: bold;
				margin-right:12px;
			}

			.time:before {
				content: "Time:";
			}

			.date:before {
				content: "Date:";
			}

			.location:before {
				content: "Location:";
			}
			.description {
				border:0;
				padding-top:10px;
			}

		} // .hero-info

		// Psuedo-classes for the event-item
		&:hover 
		{
			background: #555;
		}

		&:hover .data-item {
			display: block;
		}

		&:hover .hero-info {
			height:305px;
			background:rgba(0,0,0,.8);
			@include transition(height .2s, background-color .3s);
		}

		&:hover .title {
			border-bottom: 1px rgba(255, 255, 255, .3) solid;
		}


		// Other Elements that reside in
		img {
			width:100%;
		}
		
	} // End of .hero-item